# First Part - Preparing the Date for Analyzing

In [95]:
import numpy as np
import pandas as pd

In [96]:
ri = pd.read_csv("police.csv")

C:\Users\Toshiba\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (8,16) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
ri.head()

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,RI-2005-00001,RI,2005-01-02,01:55,Zone K1,NaN,NaN,NaN,600,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
1,RI-2005-00002,RI,2005-01-02,20:30,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2,RI-2005-00003,RI,2005-01-04,11:30,Zone X1,NaN,NaN,NaN,0,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone X1
3,RI-2005-00004,RI,2005-01-04,12:55,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
4,RI-2005-00005,RI,2005-01-06,01:30,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4

In [131]:
ri.columns

Index(['id', 'state', 'stop_date', 'stop_time', 'location_raw', 'county_name',
       'county_fips', 'fine_grained_location', 'police_department',
       'driver_gender', 'driver_age_raw', 'driver_age', 'driver_race_raw',
       'driver_race', 'violation_raw', 'violation', 'search_conducted',
       'search_type_raw', 'search_type', 'contraband_found', 'stop_outcome',
       'is_arrested', 'stop_duration', 'out_of_state', 'drugs_related_stop',
       'district'],
      dtype='object')

In [132]:
ri.isnull()

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,False,False,False,False,False,True,True,True,False,False,...,False,True,True,False,False,False,False,False,False,False
1,False,False,False,False,False,True,True,True,False,False,...,False,True,True,False,False,False,False,False,False,False
2,False,False,False,False,False,True,True,True,False,True,...,False,True,True,False,True,True,True,True,False,False
3,False,False,False,False,False,True,True,True,False,False,...,False,True,True,False,False,False,False,False,False,False
4,False,False,False,False,False,True,True,True,False,False,...,False,True,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509676,False,False,True,True,False,True,True,True,True,True,...,True,True,True,False,True,True,True,True,False,False
509677,False,False,True,True,False,True,True,True,True,True,...,True,True,True,False,True,True,True,True,False,False
509678,False,False,True,True,False,True,True,True,True,True,...,True,True,True,False,True,True,True,True,False,False
509679,False,False,True,True,False,True,True,True,True,True,...,True,True,True,False,True,True,True,True,False,False
509680,False,False,True,True,False,True,True,True,True,True,...,True,True,True,False,True,True,True,True,False,False

In [133]:
ri.isnull().sum()

id                            0
state                         0
stop_date                    10
stop_time                    10
location_raw                  0
county_name              509681
county_fips              509681
fine_grained_location    509681
police_department            10
driver_gender             29097
driver_age_raw            29049
driver_age                30695
driver_race_raw           29073
driver_race               29073
violation_raw             29073
violation                 29073
search_conducted             10
search_type_raw          491919
search_type              491919
contraband_found              0
stop_outcome              29073
is_arrested               29073
stop_duration             29073
out_of_state              29881
drugs_related_stop            0
district                      0
dtype: int64

In [134]:
b = ri.isnull().sum()
df_null = pd.DataFrame(data=b, columns=["null counts"])
df_null.T

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
null counts,0,0,10,10,0,509681,509681,509681,10,29097,...,10,491919,491919,0,29073,29073,29073,29881,0,0

In [135]:
ri["county_name"].isnull().sum()  # "county_name" column consists of null values therefore, we need to drop it.

509681

In [136]:
ri["state"].isnull().sum()  # "state" column is filled with nonnull values.

0

In [137]:
for i in ri["state"]:  # however, here we can see that all values of "state" column are RI therefore, we do not need such a column.
    if i != "RI":
        print("all RI")

In [138]:
ri.drop("county_name", axis=1, inplace=True)

In [139]:
ri.drop("state", axis=1, inplace=True)  # we can drop multiple columns: ri.drop(["count_name", "state", axis=0, inplace=True])

In [140]:
ri.head()

,id,stop_date,stop_time,location_raw,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,RI-2005-00001,2005-01-02,01:55,Zone K1,NaN,NaN,600,M,1985.0,20.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
1,RI-2005-00002,2005-01-02,20:30,Zone X4,NaN,NaN,500,M,1987.0,18.0,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2,RI-2005-00003,2005-01-04,11:30,Zone X1,NaN,NaN,0,NaN,NaN,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone X1
3,RI-2005-00004,2005-01-04,12:55,Zone X4,NaN,NaN,500,M,1986.0,19.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
4,RI-2005-00005,2005-01-06,01:30,Zone X4,NaN,NaN,500,M,1978.0,27.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4

In [141]:
ri.columns

Index(['id', 'stop_date', 'stop_time', 'location_raw', 'county_fips',
       'fine_grained_location', 'police_department', 'driver_gender',
       'driver_age_raw', 'driver_age', 'driver_race_raw', 'driver_race',
       'violation_raw', 'violation', 'search_conducted', 'search_type_raw',
       'search_type', 'contraband_found', 'stop_outcome', 'is_arrested',
       'stop_duration', 'out_of_state', 'drugs_related_stop', 'district'],
      dtype='object')

In [142]:
ri.shape

(509681, 24)

In [143]:
ri["driver_gender"].isnull().sum()

29097

In [144]:
ri.dropna(subset=["driver_gender"], inplace=True)

In [145]:
ri.shape

(480584, 24)

In [146]:
509681 - 29097

480584

In [147]:
ri["is_arrested"]  # here type seems to be "boolean".

0         False
1         False
3         False
4         False
5         False
          ...
509666    False
509667    False
509668    False
509669    False
509670    False
Name: is_arrested, Length: 480584, dtype: object

In [148]:
ri["is_arrested"].head(2)

0    False
1    False
Name: is_arrested, dtype: object

In [75]:
ri.info()  # however, here it is obvious that type of the given column is "object"

<class 'pandas.core.frame.DataFrame'>
Int64Index: 480584 entries, 0 to 509670
Data columns (total 24 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   id                     480584 non-null  object
 1   stop_date              480584 non-null  object
 2   stop_time              480584 non-null  object
 3   location_raw           480584 non-null  object
 4   county_fips            0 non-null       float64
 5   fine_grained_location  0 non-null       float64
 6   police_department      480584 non-null  object
 7   driver_gender          480584 non-null  object
 8   driver_age_raw         480583 non-null  float64
 9   driver_age             478946 non-null  float64
 10  driver_race_raw        480584 non-null  object
 11  driver_race            480584 non-null  object
 12  violation_raw          480584 non-null  object
 13  violation              480584 non-null  object
 14  search_conducted       480584 non-null  object
 15  search_type_raw        17762 non-null   object
 16  search_type            17762 non-null   object
 17  contraband_found       480584 non-null  bool
 18  stop_outcome           480584 non-null  object
 19  is_arrested            480584 non-null  object
 20  stop_duration          480584 non-null  object
 21  out_of_state           479776 non-null  object
 22  drugs_related_stop     480584 non-null  bool
 23  district               480584 non-null  object
dtypes: bool(2), float64(4), object(18)
memory usage: 85.2+ MB

In [149]:
ri["is_arrested"] = ri["is_arrested"].astype("bool")

In [78]:
ri.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 480584 entries, 0 to 509670
Data columns (total 24 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   id                     480584 non-null  object
 1   stop_date              480584 non-null  object
 2   stop_time              480584 non-null  object
 3   location_raw           480584 non-null  object
 4   county_fips            0 non-null       float64
 5   fine_grained_location  0 non-null       float64
 6   police_department      480584 non-null  object
 7   driver_gender          480584 non-null  object
 8   driver_age_raw         480583 non-null  float64
 9   driver_age             478946 non-null  float64
 10  driver_race_raw        480584 non-null  object
 11  driver_race            480584 non-null  object
 12  violation_raw          480584 non-null  object
 13  violation              480584 non-null  object
 14  search_conducted       480584 non-null  object
 15  search_type_raw        17762 non-null   object
 16  search_type            17762 non-null   object
 17  contraband_found       480584 non-null  bool
 18  stop_outcome           480584 non-null  object
 19  is_arrested            480584 non-null  bool
 20  stop_duration          480584 non-null  object
 21  out_of_state           479776 non-null  object
 22  drugs_related_stop     480584 non-null  bool
 23  district               480584 non-null  object
dtypes: bool(3), float64(4), object(17)
memory usage: 82.0+ MB

In [150]:
ri[["stop_date", "stop_time"]].head(3)

    stop_date stop_time
0  2005-01-02     01:55
1  2005-01-02     20:30
3  2005-01-04     12:55

In [151]:
combined = ri["stop_date"].str.cat(ri["stop_time"], sep=" ")
combined

0         2005-01-02 01:55
1         2005-01-02 20:30
3         2005-01-04 12:55
4         2005-01-06 01:30
5         2005-01-12 08:05
                ...
509666    2015-12-31 22:46
509667    2015-12-31 22:47
509668    2015-12-31 23:08
509669    2015-12-31 23:44
509670    2015-12-31 23:48
Name: stop_date, Length: 480584, dtype: object

In [152]:
ri["stop_datetime"] = pd.to_datetime(combined)

In [153]:
ri.columns

Index(['id', 'stop_date', 'stop_time', 'location_raw', 'county_fips',
       'fine_grained_location', 'police_department', 'driver_gender',
       'driver_age_raw', 'driver_age', 'driver_race_raw', 'driver_race',
       'violation_raw', 'violation', 'search_conducted', 'search_type_raw',
       'search_type', 'contraband_found', 'stop_outcome', 'is_arrested',
       'stop_duration', 'out_of_state', 'drugs_related_stop', 'district',
       'stop_datetime'],
      dtype='object')

In [86]:
ri.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 480584 entries, 0 to 509670
Data columns (total 25 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   id                     480584 non-null  object
 1   stop_date              480584 non-null  object
 2   stop_time              480584 non-null  object
 3   location_raw           480584 non-null  object
 4   county_fips            0 non-null       float64
 5   fine_grained_location  0 non-null       float64
 6   police_department      480584 non-null  object
 7   driver_gender          480584 non-null  object
 8   driver_age_raw         480583 non-null  float64
 9   driver_age             478946 non-null  float64
 10  driver_race_raw        480584 non-null  object
 11  driver_race            480584 non-null  object
 12  violation_raw          480584 non-null  object
 13  violation              480584 non-null  object
 14  search_conducted       480584 non-null  object
 15  search_type_raw        17762 non-null   object
 16  search_type            17762 non-null   object
 17  contraband_found       480584 non-null  bool
 18  stop_outcome           480584 non-null  object
 19  is_arrested            480584 non-null  bool
 20  stop_duration          480584 non-null  object
 21  out_of_state           479776 non-null  object
 22  drugs_related_stop     480584 non-null  bool
 23  district               480584 non-null  object
 24  stop_datetime          480584 non-null  datetime64[ns]
dtypes: bool(3), datetime64[ns](1), float64(4), object(17)
memory usage: 85.7+ MB

In [87]:
ri.head(2)

,id,stop_date,stop_time,location_raw,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,...,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,stop_datetime
0,RI-2005-00001,2005-01-02,01:55,Zone K1,NaN,NaN,600,M,1985.0,20.0,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1,2005-01-02 01:55:00
1,RI-2005-00002,2005-01-02,20:30,Zone X4,NaN,NaN,500,M,1987.0,18.0,...,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4,2005-01-02 20:30:00

In [154]:
ri.set_index("stop_datetime", inplace=True)

In [155]:
ri.shape

(480584, 24)

In [156]:
ri.head(3)

,id,stop_date,stop_time,location_raw,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,2005-01-02,01:55,Zone K1,NaN,NaN,600,M,1985.0,20.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
2005-01-02 20:30:00,RI-2005-00002,2005-01-02,20:30,Zone X4,NaN,NaN,500,M,1987.0,18.0,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2005-01-04 12:55:00,RI-2005-00004,2005-01-04,12:55,Zone X4,NaN,NaN,500,M,1986.0,19.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4

# Second Part - Exploring the Relationship between Gender and Policing

### Does the gender of a driver have an impact on police behavior during a traffic stop? In this chapter, you will explore that question while practicing filtering, grouping, method chaining, Boolean math, string methods, and more!

In [246]:
ri.columns

Index(['id', 'stop_date', 'stop_time', 'location_raw', 'county_fips',
       'fine_grained_location', 'police_department', 'driver_gender',
       'driver_age_raw', 'driver_age', 'driver_race_raw', 'driver_race',
       'violation_raw', 'violation', 'search_conducted', 'search_type_raw',
       'search_type', 'contraband_found', 'stop_outcome', 'is_arrested',
       'stop_duration', 'out_of_state', 'drugs_related_stop', 'district',
       'frisk'],
      dtype='object')

In [158]:
ri["violation"].nunique()

6

In [159]:
unique_vol = ri["violation"].value_counts()
unique_vol

Speeding               268736
Moving violation        90228
Equipment               61250
Other                   24216
Registration/plates     19830
Seat belt               16324
Name: violation, dtype: int64

In [160]:
unique_amount = ri["violation"].notnull().sum()
unique_amount

480584

In [161]:
#1

for i in unique_vol:
    print(i / unique_amount * 100)

55.91863233066435
18.774657500041616
12.74491035906314
5.038869375593028
4.126229753799544
3.3967006808383133

In [163]:
#2

ri["violation"].value_counts(normalize=True)  # "normaliaze": If True then the object returned will contain the relative frequencies of the unique values.

Speeding               0.559186
Moving violation       0.187747
Equipment              0.127449
Other                  0.050389
Registration/plates    0.041262
Seat belt              0.033967
Name: violation, dtype: float64

In [170]:
female = ri[ri["driver_gender"] == "F"]
female.head()

,id,stop_date,stop_time,location_raw,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-02-24 01:20:00,RI-2005-00016,2005-02-24,01:20,Zone X3,NaN,NaN,200,F,1983.0,22.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X3
2005-03-14 10:00:00,RI-2005-00019,2005-03-14,10:00,Zone K3,NaN,NaN,300,F,1984.0,21.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3
2005-03-29 23:20:00,RI-2005-00026,2005-03-29,23:20,Zone K3,NaN,NaN,300,F,1971.0,34.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
2005-06-06 13:20:00,RI-2005-00035,2005-06-06,13:20,Zone X4,NaN,NaN,500,F,1986.0,19.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-06-18 16:30:00,RI-2005-00037,2005-06-18,16:30,Zone X4,NaN,NaN,500,F,1964.0,41.0,...,False,NaN,NaN,False,Arrest Driver,True,30+ Min,False,False,Zone X4

In [169]:
male = ri[ri["driver_gender"] == "M"]
male.head()

,id,stop_date,stop_time,location_raw,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,2005-01-02,01:55,Zone K1,NaN,NaN,600,M,1985.0,20.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
2005-01-02 20:30:00,RI-2005-00002,2005-01-02,20:30,Zone X4,NaN,NaN,500,M,1987.0,18.0,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2005-01-04 12:55:00,RI-2005-00004,2005-01-04,12:55,Zone X4,NaN,NaN,500,M,1986.0,19.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-06 01:30:00,RI-2005-00005,2005-01-06,01:30,Zone X4,NaN,NaN,500,M,1978.0,27.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-12 08:05:00,RI-2005-00006,2005-01-12,08:05,Zone X1,NaN,NaN,0,M,1973.0,32.0,...,False,NaN,NaN,False,Citation,False,30+ Min,True,False,Zone X1

In [166]:
female["violation"].value_counts(normalize=True)

Speeding               0.657308
Moving violation       0.136581
Equipment              0.107055
Registration/plates    0.043077
Other                  0.028908
Seat belt              0.027071
Name: violation, dtype: float64

In [168]:
male["violation"].value_counts(normalize=True)

Speeding               0.522364
Moving violation       0.206948
Equipment              0.135102
Other                  0.058450
Registration/plates    0.040581
Seat belt              0.036555
Name: violation, dtype: float64

In [174]:
female_and_speeding = ri[(ri["driver_gender"] == "F") & (ri["violation"] == "Speeding")]
female_and_speeding.head(2)

,id,stop_date,stop_time,location_raw,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-02-24 01:20:00,RI-2005-00016,2005-02-24,01:20,Zone X3,NaN,NaN,200,F,1983.0,22.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X3
2005-03-14 10:00:00,RI-2005-00019,2005-03-14,10:00,Zone K3,NaN,NaN,300,F,1984.0,21.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3

In [175]:
male_and_speeding = ri[(ri["driver_gender"] == "M") & (ri["violation"] == "Speeding")]
male_and_speeding.head(2)

,id,stop_date,stop_time,location_raw,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,2005-01-02,01:55,Zone K1,NaN,NaN,600,M,1985.0,20.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
2005-01-02 20:30:00,RI-2005-00002,2005-01-02,20:30,Zone X4,NaN,NaN,500,M,1987.0,18.0,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4

In [176]:
female_and_speeding["stop_outcome"].value_counts(normalize=True)

Citation            0.953247
Warning             0.039003
Arrest Driver       0.005290
Arrest Passenger    0.001033
N/D                 0.000905
No Action           0.000522
Name: stop_outcome, dtype: float64

In [177]:
male_and_speeding["stop_outcome"].value_counts(normalize=True)

Citation            0.944636
Warning             0.036086
Arrest Driver       0.015767
Arrest Passenger    0.001265
N/D                 0.001183
No Action           0.001063
Name: stop_outcome, dtype: float64

In [180]:
print(ri.search_conducted.dtype)

object

In [182]:
ri["search_conducted"] = ri["search_conducted"].astype("bool")

In [183]:
print(ri.search_conducted.dtype)

bool

In [184]:
ri["search_conducted"].value_counts(normalize=True)

False    0.963041
True     0.036959
Name: search_conducted, dtype: float64

In [185]:
ri["search_conducted"].mean()

0.036959199640437465

In [210]:
ri[ri["driver_gender"] == "F"]["search_conducted"].mean()

0.018751239152648355

In [211]:
ri[ri["driver_gender"] == "M"]["search_conducted"].mean()

0.04379217389811301

In [215]:
ri.groupby("driver_gender")["search_conducted"].mean()

driver_gender
F    0.018751
M    0.043792
Name: search_conducted, dtype: float64

In [216]:
ri.groupby(["driver_gender", "violation"])["search_conducted"].mean()

driver_gender  violation
F              Equipment              0.040245
               Moving violation       0.038021
               Other                  0.045898
               Registration/plates    0.054700
               Seat belt              0.017746
               Speeding               0.007738
M              Equipment              0.070916
               Moving violation       0.059156
               Other                  0.046120
               Registration/plates    0.103589
               Seat belt              0.031705
               Speeding               0.026630
Name: search_conducted, dtype: float64

In [217]:
ri.groupby(["violation", "driver_gender"])["search_conducted"].mean()

violation            driver_gender
Equipment            F                0.040245
                     M                0.070916
Moving violation     F                0.038021
                     M                0.059156
Other                F                0.045898
                     M                0.046120
Registration/plates  F                0.054700
                     M                0.103589
Seat belt            F                0.017746
                     M                0.031705
Speeding             F                0.007738
                     M                0.026630
Name: search_conducted, dtype: float64

In [218]:
ri.columns

Index(['id', 'stop_date', 'stop_time', 'location_raw', 'county_fips',
       'fine_grained_location', 'police_department', 'driver_gender',
       'driver_age_raw', 'driver_age', 'driver_race_raw', 'driver_race',
       'violation_raw', 'violation', 'search_conducted', 'search_type_raw',
       'search_type', 'contraband_found', 'stop_outcome', 'is_arrested',
       'stop_duration', 'out_of_state', 'drugs_related_stop', 'district'],
      dtype='object')

In [232]:
ri.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 480584 entries, 2005-01-02 01:55:00 to 2015-12-31 23:48:00
Data columns (total 24 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   id                     480584 non-null  object
 1   stop_date              480584 non-null  object
 2   stop_time              480584 non-null  object
 3   location_raw           480584 non-null  object
 4   county_fips            0 non-null       float64
 5   fine_grained_location  0 non-null       float64
 6   police_department      480584 non-null  object
 7   driver_gender          480584 non-null  object
 8   driver_age_raw         480583 non-null  float64
 9   driver_age             478946 non-null  float64
 10  driver_race_raw        480584 non-null  object
 11  driver_race            480584 non-null  object
 12  violation_raw          480584 non-null  object
 13  violation              480584 non-null  object
 14  search_conducted       480584 non-null  bool
 15  search_type_raw        17762 non-null   object
 16  search_type            17762 non-null   object
 17  contraband_found       480584 non-null  bool
 18  stop_outcome           480584 non-null  object
 19  is_arrested            480584 non-null  bool
 20  stop_duration          480584 non-null  object
 21  out_of_state           479776 non-null  object
 22  drugs_related_stop     480584 non-null  bool
 23  district               480584 non-null  object
dtypes: bool(4), float64(4), object(16)
memory usage: 78.8+ MB

In [239]:
ri["search_type"].value_counts()

Incident to Arrest                                          6998
Probable Cause                                              4989
Reasonable Suspicion                                        1141
Inventory                                                   1101
Protective Frisk                                             879
Incident to Arrest,Inventory                                 649
Incident to Arrest,Probable Cause                            552
Probable Cause,Reasonable Suspicion                          334
Probable Cause,Protective Frisk                              221
Incident to Arrest,Protective Frisk                          158
Incident to Arrest,Inventory,Probable Cause                  151
Inventory,Probable Cause                                     132
Protective Frisk,Reasonable Suspicion                         83
Incident to Arrest,Inventory,Protective Frisk                 77
Incident to Arrest,Probable Cause,Protective Frisk            74
Inventory,Protective Frisk                                    52
Incident to Arrest,Reasonable Suspicion                       49
Probable Cause,Protective Frisk,Reasonable Suspicion          31
Incident to Arrest,Probable Cause,Reasonable Suspicion        31
Inventory,Reasonable Suspicion                                17
Inventory,Probable Cause,Protective Frisk                     14
Incident to Arrest,Inventory,Reasonable Suspicion             12
Inventory,Probable Cause,Reasonable Suspicion                  8
Incident to Arrest,Protective Frisk,Reasonable Suspicion       8
Inventory,Protective Frisk,Reasonable Suspicion                1
Name: search_type, dtype: int64

In [238]:
sum(ri["search_type"] == "Protective Frisk")

879

In [242]:
ri["frisk"] = ri["search_type"].str.contains("Protective Frisk", na=False)

In [243]:
ri.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 480584 entries, 2005-01-02 01:55:00 to 2015-12-31 23:48:00
Data columns (total 25 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   id                     480584 non-null  object
 1   stop_date              480584 non-null  object
 2   stop_time              480584 non-null  object
 3   location_raw           480584 non-null  object
 4   county_fips            0 non-null       float64
 5   fine_grained_location  0 non-null       float64
 6   police_department      480584 non-null  object
 7   driver_gender          480584 non-null  object
 8   driver_age_raw         480583 non-null  float64
 9   driver_age             478946 non-null  float64
 10  driver_race_raw        480584 non-null  object
 11  driver_race            480584 non-null  object
 12  violation_raw          480584 non-null  object
 13  violation              480584 non-null  object
 14  search_conducted       480584 non-null  bool
 15  search_type_raw        17762 non-null   object
 16  search_type            17762 non-null   object
 17  contraband_found       480584 non-null  bool
 18  stop_outcome           480584 non-null  object
 19  is_arrested            480584 non-null  bool
 20  stop_duration          480584 non-null  object
 21  out_of_state           479776 non-null  object
 22  drugs_related_stop     480584 non-null  bool
 23  district               480584 non-null  object
 24  frisk                  480584 non-null  bool
dtypes: bool(5), float64(4), object(16)
memory usage: 79.3+ MB

In [244]:
sum(ri["frisk"])

1598

In [260]:
searched = ri[ri["search_conducted"] == True]  # searched = pd.DataFrame(ri[ri["search_conducted"] == True])

In [262]:
searched

,id,stop_date,stop_time,location_raw,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,...,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,frisk
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-24 20:32:00,RI-2005-00010,2005-01-24,20:32,Zone K1,NaN,NaN,600,M,1987.0,18.0,...,Probable Cause,Probable Cause,True,Citation,False,0-15 Min,True,True,Zone K1,False
2005-02-09 03:05:00,RI-2005-00011,2005-02-09,03:05,Zone X4,NaN,NaN,500,M,1976.0,29.0,...,"Probable Cause,Terry Frisk","Probable Cause,Protective Frisk",False,Citation,False,0-15 Min,False,False,Zone X4,True
2005-08-28 01:00:00,RI-2005-00084,2005-08-28,01:00,Zone X1,NaN,NaN,0,M,1979.0,26.0,...,"Incident to Arrest,Terry Frisk","Incident to Arrest,Protective Frisk",False,Arrest Driver,True,16-30 Min,True,False,Zone X1,True
2005-09-15 02:20:00,RI-2005-00094,2005-09-15,02:20,Zone X4,NaN,NaN,500,M,1988.0,17.0,...,Incident to Arrest,Incident to Arrest,False,Arrest Driver,True,16-30 Min,False,False,Zone X4,False
2005-09-24 02:20:00,RI-2005-00115,2005-09-24,02:20,Zone K3,NaN,NaN,300,M,1987.0,18.0,...,Incident to Arrest,Incident to Arrest,False,Arrest Driver,True,16-30 Min,False,False,Zone K3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-12-28 11:05:00,RI-2015-46706,2015-12-28,11:05,Zone K3,NaN,NaN,300,F,1996.0,19.0,...,Incident to Arrest,Incident to Arrest,True,Citation,False,16-30 Min,True,True,Zone K3,False
2015-12-30 01:37:00,RI-2015-46870,2015-12-30,01:37,Zone X4,NaN,NaN,500,M,1979.0,36.0,...,Terry Frisk,Protective Frisk,False,Citation,False,0-15 Min,False,False,Zone X4,True
2015-12-30 08:51:00,RI-2015-46903,2015-12-30,08:51,Zone K3,NaN,NaN,300,F,1987.0,28.0,...,"Probable Cause,Reasonable Suspicion","Probable Cause,Reasonable Suspicion",True,Citation,False,30+ Min,True,True,Zone K3,False
2015-12-30 13:15:00,RI-2015-46934,2015-12-30,13:15,Zone X3,NaN,NaN,200,M,1992.0,23.0,...,Incident to Arrest,Incident to Arrest,False,Arrest Passenger,True,16-30 Min,True,False,Zone X3,False
2015-12-30 15:58:00,RI-2015-46950,2015-12-30,15:58,Zone K2,NaN,NaN,900,M,1976.0,39.0,...,"Odor of Drugs/Alcohol,Probable Cause,Reasonabl...","Probable Cause,Reasonable Suspicion",False,Citation,False,30+ Min,True,False,Zone K2,False

In [263]:
type(searched)

pandas.core.frame.DataFrame

In [264]:
ri[ri["search_conducted"] == True]["frisk"].mean()

0.08996734601959239

In [265]:
searched["frisk"].mean()

0.08996734601959239

In [270]:
searched.groupby(["driver_gender"])["frisk"].mean()

driver_gender
F    0.066694
M    0.093707
Name: frisk, dtype: float64

In [272]:
searched2 = pd.DataFrame(ri[ri["search_conducted"] == True])
searched2.head(4)

,id,stop_date,stop_time,location_raw,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,...,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,frisk
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-24 20:32:00,RI-2005-00010,2005-01-24,20:32,Zone K1,NaN,NaN,600,M,1987.0,18.0,...,Probable Cause,Probable Cause,True,Citation,False,0-15 Min,True,True,Zone K1,False
2005-02-09 03:05:00,RI-2005-00011,2005-02-09,03:05,Zone X4,NaN,NaN,500,M,1976.0,29.0,...,"Probable Cause,Terry Frisk","Probable Cause,Protective Frisk",False,Citation,False,0-15 Min,False,False,Zone X4,True
2005-08-28 01:00:00,RI-2005-00084,2005-08-28,01:00,Zone X1,NaN,NaN,0,M,1979.0,26.0,...,"Incident to Arrest,Terry Frisk","Incident to Arrest,Protective Frisk",False,Arrest Driver,True,16-30 Min,True,False,Zone X1,True
2005-09-15 02:20:00,RI-2005-00094,2005-09-15,02:20,Zone X4,NaN,NaN,500,M,1988.0,17.0,...,Incident to Arrest,Incident to Arrest,False,Arrest Driver,True,16-30 Min,False,False,Zone X4,False